<div class="navbar">
  <div class="display-flex space-between header-padding">
    <div>
      <img src="https://github.com/PriyaPareek635/desktop-avaan/blob/gh-pages/assets/img/avaana-logo.svg"
        style="width: 100px;" />
    </div>
    <div class="header-content">
      <a href="">Health and Wellbeing Appointments</a>
    </div>
    <div class="header-content">
      <a href="">Fitness Classes</a>
    </div>
    <div>
      <img src="https://github.com/PriyaPareek635/desktop-avaan/blob/gh-pages/assets/img/search-icon.png"
        class="right-icon" />
      <img src="https://github.com/PriyaPareek635/desktop-avaan/blob/gh-pages/assets/img/search-icon.png"
        class="right-icon" />
      <a href="" class="list-with-us">List with us</a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<router-outlet></router-outlet>