<footer class="footer">
  <div class="slider-header">
    Discover wellbeing services near you
  </div>
  <div class="slider-subheader">
    Displaying nearby wellbeing for <span class="green-text"> Hawthorn </span>
  </div>
  <div class="display-flex space-between slider-margin">
    <!-- 1st Image SLider -->
    <div class="slider-image-section card-common">
      <div class="display-flex space-between">
        <div>
          <img class="img-mR"
            src="https://github.com/PriyaPareek635/desktop-avaan/blob/gh-pages/assets/img/slider-1.png" />
        </div>
        <div class="mL-100">
          <div class=" img-header"> SUNBEAR SHIATSU </div>
          <div class="img-subheader"> HAWTHORN </div>
          <div class="img-rating "> 4.8 </div>
        </div>
        <div></div>
      </div>
      <div class="display-flex space-between mT-10">
        <span class="consult-type-price">Naturopathic Consultation</span>
        <span class="consult-type-price">$50 <span class="hr">/ hour</span></span>
      </div>
      <hr />
      <div class="display-flex space-between mT-10">
        <span class="consult-time-slot ">Today, June 28</span>
        <span class="show-all-times">Show all times</span>
      </div>
      <div class="display-flex space-between">
        <div class="consult-available-slot">
          <span class="time-color">11:00 AM</span>
        </div>
        <div class="consult-available-slot">
          <span class="time-color">11:15 AM</span>
        </div>
        <div class="consult-available-slot">
          <span class="time-color">+29 more</span>
        </div>
      </div>
    </div>
    <!-- 2nd Image SLider -->
    <div class="slider-image-section card-common">
      <div class="display-flex space-between">
        <div>
          <img class="img-mR"
            src="https://github.com/PriyaPareek635/desktop-avaan/blob/gh-pages/assets/img/slider-2.png" />
        </div>
        <div class="mL-100">
          <div class=" img-header"> SUNBEAR SHIATSU </div>
          <div class="img-subheader"> HAWTHORN </div>
          <div class="img-rating "> 4.8 </div>
        </div>
        <div></div>
      </div>
      <div class="display-flex space-between mT-10">
        <span class="consult-type-price">Naturopathic Consultation</span>
        <span class="consult-type-price">$50 <span class="hr">/ hour</span></span>
      </div>
      <hr />
      <div class="display-flex space-between mT-10">
        <span class="consult-time-slot ">Today, June 28</span>
        <span class="show-all-times">Show all times</span>
      </div>
      <div class="display-flex space-between">
        <div class="consult-available-slot">
          <span class="time-color">11:00 AM</span>
        </div>
        <div class="consult-available-slot">
          <span class="time-color">11:15 AM</span>
        </div>
        <div class="consult-available-slot">
          <span class="time-color">+29 more</span>
        </div>
      </div>
    </div>
    <!-- 3rd Image Slider  -->
    <div class="slider-image-section card-common">
      <div class="display-flex space-between">
        <div>
          <img class="img-mR"
            src="https://github.com/PriyaPareek635/desktop-avaan/blob/gh-pages/assets/img/slider-3.png" />
        </div>
        <div class="mL-100">
          <div class=" img-header"> SUNBEAR SHIATSU </div>
          <div class="img-subheader"> HAWTHORN </div>
          <div class="img-rating "> 4.8 </div>
        </div>
        <div></div>
      </div>
      <div class="display-flex space-between mT-10">
        <span class="consult-type-price">Naturopathic Consultation</span>
        <span class="consult-type-price">$50 <span class="hr">/ hour</span></span>
      </div>
      <hr />
      <div class="display-flex space-between mT-10">
        <span class="consult-time-slot ">Today, June 28</span>
        <span class="show-all-times">Show all times</span>
      </div>
      <div class="display-flex space-between">
        <div class="consult-available-slot">
          <span class="time-color">11:00 AM</span>
        </div>
        <div class="consult-available-slot">
          <span class="time-color">11:15 AM</span>
        </div>
        <div class="consult-available-slot">
          <span class="time-color">+29 more</span>
        </div>
      </div>
    </div>
    <!-- 4th Image Slider -->
    <div class="slider-image-section card-common">
      <div class="display-flex space-between">
        <div>
          <img class="img-mR"
            src="https://github.com/PriyaPareek635/desktop-avaan/blob/gh-pages/assets/img/slider-4.png" />
        </div>
        <div class="mL-100">
          <div class="img-header"> SUNBEAR SHIATSU </div>
          <div class="img-subheader"> HAWTHORN </div>
          <div class="img-rating "> 4.8 </div>
        </div>
        <div></div>
      </div>
      <div class="display-flex space-between mT-10">
        <span class="consult-type-price">Naturopathic Consultation</span>
        <span class="consult-type-price">$50 <span class="hr">/ hour</span></span>
      </div>
      <hr />
      <div class="display-flex space-between mT-10">
        <span class="consult-time-slot ">Today, June 28</span>
        <span class="show-all-times">Show all times</span>
      </div>
      <div class="display-flex space-between">
        <div class="consult-available-slot">
          <span class="time-color">11:00 AM</span>
        </div>
        <div class="consult-available-slot">
          <span class="time-color">11:15 AM</span>
        </div>
        <div class="consult-available-slot">
          <span class="time-color">+29 more</span>
        </div>
      </div>
    </div>
  </div>
  <div class="list-with-us">
    <a href="">FIND MORE WELLBEING NEARBY</a>
  </div>
</footer>