.body-container {
  position: absolute;
  z-index: 99;
  top: 80px;
  left: 0;
  width: calc(100% - 80px);
  transition: all 0.2s ease;
  opacity: 1;
  text-align: right;
  background-color: #095d59 0% 0% no-repeat padding-box;
}
.bg-image {
  width: 100%;
  height: 715px;
  background: url('./../../assets/img/body-content.png') no-repeat;
}
.seeking-text {
  text-align: left;
  color: #FFFFFF;
  text-shadow: 0px 0px 10px #03363d40;
  font: normal normal normal 72px/90px Recoleta;
  letter-spacing: 0px;
  opacity: 1;
  width: 752px;
  margin-left: 190px;
}
.wT-1 {
  width: 267px;
}
.wT-2 {
  width: 162px;
}
.wT-3 {
  width: 172px;
}
hr {
  display: block;
  height: 0px;
  padding: 0;
  border: 2px solid #095D59;
  opacity: 1;
}
.line {
  height: 0px;
  padding: 0;
  border: 1px solid #FFFFFF;
  opacity: 1;
}
.tabs-switch {
  margin: 0px 410px;
  text-align: center;
  font-family: Avenir;
}
.tab-switch {
  text-align: center;
  font: normal normal 900 16px/24px Avenir;
  letter-spacing: 1.6px;
  color: #FFFFFFCC;
  opacity: 1;
  padding: 9px 33px;
  margin: 0px 200px 44px 200px;
}

.search-bar {
  background: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  opacity: 1;
  border-radius: 30px;
  color: #095D59;
  padding: 9px 33px;
}
.values-text {
  font: normal normal medium 14px/56px Avenir;
  letter-spacing: 0px;
  color: #095D59;
  opacity: 1;
}
.discover {
  background: #fd896b;
  text-align: center;
  font: normal normal 900 16px/22px Avenir;
  letter-spacing: 0px;
  opacity: 1;
  border-radius: 23px;
  color: #FFFFFF;
  padding: 9px 33px;
}

.search-text-color {
  color: #095D59;
}
