<div class="body-container bg-image">
  <div>
    <div class="seeking-text">
      <div style="margin-top: 264px; margin-bottom: 104px;">
        Seeking Wellbeing? You’re in the right place.
      </div>
    </div>

    <div class="tabs-switch">
      <div class="tab-switch display-flex space-between">
        <span>APPOINTMENTS

          <div class="line"></div>
        </span>
        <span>CLASSES</span>
        <span>ONLINE</span>
      </div>
  
      <div class="search-bar display-flex space-between">
        <div >
          <span class="values-text">Search for a service, provider or symptom</span>
          <hr>
        </div>
        <div >
          <span class="values-text">Select a location</span>
          <hr>
        </div>
        <div>
          <span class="values-text">When do you want to go?</span>
          <hr>
        </div>
        <a href="" class="discover">Discover</a>
      </div>
    </div>
  </div>
</div>

